<div id="header">
  <h1>Academy Voter</h1>
</div>
<div id="container">
  <ul>
    <li><a href="./vote" target="_self">Vote!</a></li>
    <li><a href="./viewresults" target="_self">View Results</a></li>
  </ul>
</div>