<div id="header">
  <h1>Academy Voter</h1>
</div>
<div id="container">
  <form method="post" action="/vote">
    <p>
      <label>Name:<br/>
        <input type="text" name="name" id="name" tabindex="1"/>
      </label>
    </p>

    <p>
      <input type="submit" value="Continue" tabindex="2"/>
    </p>
  </form>
</div>